# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Logs
*.log

# Virtual environments
env/
venv/
ENV/
.venv/
.ENV/

# Python egg and cache files
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
var/
sdist/
wheels/
pip-wheel-metadata/
*.manifest
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Unit test / Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# PyInstaller
*.spec

# Django specific
*.db
*.sqlite3
db.sqlite3
media/

# Flask specific
instance/
.webassets-cache

# Environment variables
.env
.env.*

# MacOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db
desktop.ini

# Temporary files
*.swp
*.swo
*~

# Other
node_modules/
